* {
    padding: 0;
    margin: 0;
    font-size: 40px;

}
.box-one {

    background-color: brown;
    padding: 60px;
    border: 0 solid blue;
    margin: 60px;
    height: 100px;
    width: 70px;

}

.box-two {
    background-color: blue;
    border: 0 solid green;
    padding: 50px;
    margin: 60px;
    width: 70px;
}